* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 25px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.perfil {
  width: 50%;
  padding: 50px 0 0 0;
  color: #fff;
  background-color: #360201;
}
.perfil__avatar {
  display: block;
  margin: 0 auto;
  border-radius: 50em;
}
.perfil__nombre, .perfil__minibio h2 {
  text-align: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.perfil__titulo, .perfil__minibio h3 {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}
.perfil__boton {
  display: block;
  width: 100px;
  height: 40px;
  margin: 15px auto;
  padding: 6px 0 0 0;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.perfil__minibio {
  margin: 0 auto;
  padding: 20px 0 0 0;
}
.estadistica--perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 90px;
  padding: 15px 0 0 0;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  -webkit-box-shadow: 0 20px 33px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 20px 33px 0 rgba(255, 255, 255, 0.3);
  color: #333;
  background-color: #fff;
}
.estadistica--perfil h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #333;
}
.estadistica--perfil span {
  font-size: 12px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #333;
}

.ubicacion--perfil {
  width: 50%;
  height: 90px;
  margin: 30px auto 0 auto;
  padding: 20px 0 0 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0 20px 33px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 20px 33px 0 rgba(255, 255, 255, 0.3);
  color: #333;
  background-color: #fff;
}
.ubicacion--perfil i {
  display: block;
  float: left;
  padding: 0 10px 0 0;
  font-size: 40px;
  color: #B50802;
}
.ubicacion--perfil h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #333;
}
.ubicacion--perfil h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  color: rgba(51, 51, 51, 0.8);
}

.galeria {
  width: 50%;
  height: 250px;
  margin: 10px auto;
  padding: 20px 0 0 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 20px;
  -webkit-box-shadow: 0 20px 33px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 20px 33px 0 rgba(255, 255, 255, 0.3);
  color: #333;
  background-color: #fff;
}
.galeria__foto-principal {
  float: left;
  margin: 0 10px 0 0;
}
.galeria__fotos-adicionales img {
  height: 70px;
  margin: 0 5px 5px 0;
}
.galeria h2 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.galeria img {
  border-radius: 10px;
}

.articulos {
  width: 40%;
  padding: 50px 0 0 50px;
}

.articulo {
  margin: 0 0 75px 0;
  border-bottom: 3px solid #B50802;
}
.articulo__categoria {
  font-weight: 500;
  font-size: 16px;
  color: #360201;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #B50802;
}
.articulo__titulo {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulo__descripcion {
  margin: 0 0 30px 0;
  padding: 0 100px 0 0;
}