extends components/home/staticContent.pug
block contentStaticContent
    body
        include components/home/header.pug
        include components/home/intro.pug
        include components/home/content.pug
        include components/home/footer.pug
