extends components/home/staticContent.pug
block contentStaticContent
    body
        include components/home/header.pug
        include components/mainMenu/menu.pug
        include components/home/footer.pug