main.contenido
    +caja('imagen.png', titulos[1],'Lorem ipsum dolor sit amet.')
    +caja('imagen.png', titulos[2],'dolor sit amet.')
    +caja('imagen.png', titulos[3],'Dolor sit amet Lorem ipsum.')
block contentContenido