section.intro
    .intro__imagen: img(src="img/imagen.png")
    .intro__contenido
        h2 #{tituloSecundario}
        h3 #{titulos[0]}
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, incidunt?.
            span Lorem ipsum dolor sit amet.
        a.boton leer más
block contentIntro