-var tituloPrincipal = "Arley Develop"
-var tituloSecundario = "Segundo título principal"
-var titulos  = ["Título 1", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var usuario = "Arlo"
mixin caja(imagen,titulos,parrafo)
    .caja
        .caja__imagen: img(src="img/" + imagen)
        .caja__contenido
            h3=titulos
            p=parrafo
doctype html
html
    include head.pug
    body
        header
            h1= tituloPrincipal
            if usuario
                a Hola #{usuario}
            else
                a.boton Registro
        block contents