-var tituloPrincipal = "Arley Develop"
-var tituloSecundario = "Segundo título principal"
-var titulos  = ["Título 1", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var usuario = "Arlo"
-var enlaces = ["Acerca","Noticias","Contácto"]
-var menuItems = ["Acerca","Noticias","Contácto"]
mixin caja(imagen,titulos,parrafo)
    .caja
        .caja__imagen: img(src="img/" + imagen)
        .caja__contenido
            h3=titulos
            p=parrafo
doctype html
include head.pug
html
block contentStaticContent