.mainContent
    article
        h2 MENU
        ul
            each menuLinks in menuItems
                li=menuLinks
    article
        h2 Título Principal
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit repellat eius minus itaque in tempora incidunt perferendis nihil laborum reiciendis?
        a.button Leer más